{% if page.tinyletter_signup %}
  <form action="https://tinyletter.com/tjelvarolsson" method="post"
        target="popupwindow"
        onsubmit="window.open('https://tinyletter.com/tjelvarolsson', 'popupwindow',
                              'scrollbars=yes,width=800,height=600');return true">
  <h3>Want to learn more?</h3>
     <p>
     Subscribe to the free monthly newsletter!
     </p>
     <input type="text" name="email" id="tlemail" placeholder="email@example.com" />
     <input type="hidden" value="1" name="embed"/>
     <input type="submit" value="Subscribe" />
  </form>
{% endif %}
